$animation-duration: 1s;
$blue: #409EFF;
$border-color-hover: #666;
$border-color: #999;
$border-color-light: #e4e7ed;
$border-radius: 4px;
$box-shadow-color: rgba(0, 0, 0, 0.5);
$button--height: 32px;
$button-active-bg: #eee;
$button-bg: white;
$color: #333;
$disabled-color: grey;
$font-size: 14px;
$grey: #ddd;
$input-height: 32px;
$red: #F4153D;
$tab-height: 40px;
$toast-bg: rgba(0, 0, 0, 0.75);
$toast-min-height: 40px;
.box-shadow {
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
}